<div class="container">
  <div id="user_nav" style="float:right ">
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %>. Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
            <% end %>
  </div>
  <br/>
   <%= button_to "Menu Items", "/menu_items",:style =>"float:right", 
        :class => "btn btn-info", :method => :get %>
  <h1>Listing Resturants</h1>
 
  <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th></th>

        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @resturants.each do |resturant| %>
        <tr>
          <td><%= resturant.name %></td>
          <td><%= resturant.discription %></td>
          <td><%= resturant.location %></td>
          <td><%= link_to 'Show', resturant %></td>
          <td><%= link_to 'Edit', edit_resturant_path(resturant) %></td>
          <td><%= link_to 'Delete', resturant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </br>
  <%= button_to "New Resturant", new_resturant_path,:style =>"margin-left:5px", 
        :class => "btn btn-success", :method => :get %>
 
</div>

