<div class="container">
<h1>Resturant</h1>

<h3 id="notice"><%= notice %></h3>
<table class="table table-hover">
<tr class="info">
  <td>Name:</td>
  <td><%= @resturant.name %></td>
</tr>

<tr class="active">
  <td>Discription:</td>
  <td><%= @resturant.discription %></td>
</tr>
<tr class="info">
  <td>Location:</td>
  <td><%= @resturant.location %></td>
</tr>
<tr class="active">
  <td>Image:</td>
  <td> <%= image_tag(@resturant.image_url, :height =>100) if @resturant.image.present?%></td>
</tr>

</table>

<%i =0%>
<table class="table table-hover">
<% @menu_items.each do |menu_item| %>
     <% if menu_item.resturant_id ==@resturant.id%>
     <%i+=1%>
   <%end%>
<%end%>
<%if i>0%>
<h1>Menu</h1>

<%end%>
<% @menu_items.each do |menu_item| %>
     <% if menu_item.resturant_id ==@resturant.id%>

<tr class="success">
  <th >Name:</th>
  <td><%= menu_item.name%> &nbsp &nbsp &nbsp<%= image_tag(menu_item.picture_url, :height =>50) if menu_item.picture.present?%></td>
</tr>
<tr class="active">
  <th>Price:</th>
  <td><%= menu_item.price %></td>
</tr>
<tr class="active">
  <th>Desription:</th>
  <td><%= menu_item.desription %></td>
</tr>


<%end%>
<%end%>
</table>



<%= link_to 'Edit', edit_resturant_path(@resturant),:style =>"margin-left:5px" %> |
<%= link_to 'Back', resturants_path %>
 <div id="user_nav" style="float:right ">
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %>. 
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
            <% end %>
  </div>
</div>