<div class="container">
	<div id="user_nav" style="float:right ">
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %>. Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
            <% end %>
  </div>
<h1>Resturant</h1>

<h3 id="notice"><%= notice %></h3>
<table class="table table-hover">
<tr class="info">
  <td>Name:</td>
  <td><%= @resturant.name %></td>
</tr>

<tr class="active">
  <td>Discription:</td>
  <td><%= @resturant.discription %></td>
</tr>
<tr class="info">
  <td>Location:</td>
  <td><%= @resturant.location %></td>
</tr>
<tr class="active">
  <td>Image:</td>
  <td> <%= image_tag(@resturant.image_url, :height =>100) if @resturant.image.present?%></td>
</tr>

</table>
<%= link_to 'Edit', edit_resturant_path(@resturant),:style =>"margin-left:5px" %> |
<%= link_to 'Back', resturants_path %>
</div>