

<div class="container"style="padding:5px">
   <%= button_to "Resturants", "/resturants",:style =>"float:right", 
        :class => "btn btn-info", :method => :get %>
 
  <h1 >Menu Items</h1>

  <table class="table table-striped">
    <thead>
      <tr class="info">
        <th>Name</th>
        <th>Price</th>
        <th>Desription</th>
        <th>Resturant</th>
        <th></th>
        <th></th>
        <th></th>

      </tr>
    </thead>

    <tbody>
      <% @menu_items.each do |menu_item| %>
        <tr>
          <td><%= menu_item.name %></td>
          <td><%= menu_item.price %></td>
          <td><%= menu_item.desription %></td>
          <td><%= menu_item.resturant.name %></td>
          <td><%= link_to 'Show', menu_item %></td>
          <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
          <td><%= link_to 'Delete', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to "New Menu Item", new_menu_item_path, 
      :class => "btn btn-success", :method => :get %>
    <div id="user_nav" style="float:right ">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>. Not you?
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
        <% end %>
    </div>
</div>

