<div class="container">
	<div id="user_nav" style="float:right">
	  <% if user_signed_in? %>
	    Signed in as <%= current_user.email %>. Not you?
	    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	  <% else %>
	    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
	  <% end %>
	</div>
	<h1>New Menu Item</h1>

	<%= render 'form' %>

	<%= link_to 'Back', menu_items_path %>
</div>